{{#each this}}
  <li class="country-list__item">
    <img class="country-list__flags" src="{{flag}}" alt="{{name.official}}" width="25" />
    <h2 class="country-list__name">{{name.common}}</h2>
  </li>
{{/each}}